$text-center: center;

// Colors
$col_pink: hsl(322, 100%, 66%);
$col_dark_cyan: hsl(192, 100%, 9%);
$col_pale_cyan: hsl(193, 100%, 96%);
$col_white: #fff;
$col_gray_blue: hsl(208, 11%, 55%);

// Media Queries
$break-s: '(min-width: 600px)';
$break-m: '(min-width: 768px)';
$break-l: '(min-width: 1024px)';
